extends layout/base

block content
    #heading
      h1.text-center IL Appointments
      
    #content
      //- Do it like this...You're already in JavaScript land after the -
      - var items = rows

      div 

        table.table.table-bordered.mx-auto.datatables
          thead.thead-dark 
            tr: th Clinic Number 
                th Appointment Date
                th Appointment Reason 
                th Appointment Status 
                th Source 
                th Processed 
                th Date Processed 
                th Placer Appointment Number
                th Logs
          tbody 
            each item in items

              tr 
                td=item.clinic_number
                td=item.appntmnt_date
                td=item.APPOINTMENT_REASON 
                td=item.app_status
                td=item.db_source
                td=item.processed
                td=item.date_processed
                td=item.placer_appointment_number
                td=item.send_log
