extends layout/base

block content
    #heading
      h1.text-center IL Appointments
      
    #content
      //- Do it like this...You're already in JavaScript land after the -
      - var items = results
      div 
        table.table.table-hover 
          thead 
            tr: th Clinic Number 
                th Appointment Date
                th Appointment Reason 
                th Appointment Status 
                th Source 
                th Appointment Location 
                th Reason 
                th Processed 
                th Date Processed 
                th Placer Appointment Number
          tbody 
            each item in items
              tr 
                td=item.clinic_number
                td=item.appntmnt_date
                td=item.APPOINTMENT_REASON 
                td=item.app_status
                td=item.db_source
                td=item.APPOINTMENT_LOCATION
                td=item.reason
                td=item.processed
                td=item.date_processed
                td=item.placer_appointment_number
