extends layout/base

block content
    #heading
      h1.text-center IL Clients

    #content
      //- Do it like this...You're already in JavaScript land after the -
      - var items = rows

      div
        script. 
          $(document).ready(function() {
            $('#resultTable').DataTable({
              'paging'      : true,
              'lengthChange': false,
              'searching'   : true,
              'ordering'    : true,
              'info'        : true,
              'autoWidth'   : false
            });
          });
          
        div#dataToShow 
          table#resultTable.table.thead-light.datatables 
            thead 
              tr: th Clien Number
                  th Gender 
                  th Marital Status
                  th Phone Number 
                  th Group 
                  th Source 
                  th Enrollment Date
                  th ART Date 
                  th Processed 
                  th Date Processed 
                  th Logs 
            tbody 
              each item in items

                tr 
                  td=item.clinic_number
                  td=item.gender
                  td=item.marital
                  td=item.phone_no
                  td=item.group_id
                  td=item.SENDING_APPLICATION
                  td=item.enrollment_date
                  td=item.art_date
                  td=item.processed
                  td=item.date_processed
                  td=item.send_log



