extends layout/base

block content
    #heading
      h1.text-center IL Discontinuation Messages
      
    #content
      //- Do it like this...You're already in JavaScript land after the -
      - var items = results

      div 

        table.table.table-bordered.mx-auto.datatables
          thead.thead-dark 
            tr: th Clinic Number 
                th Sending Facility
                th Source
                th Observation Value 
                th Observation Time 
                th Death Indicator 
                th Processed 
                th Date Processed 

          tbody 
            each item in items

              tr 
                td=item.clinic_number
                td=item.mfl_code
                td=item.db_source 
                td=item.app_status
                td=item.observation_value
                td=item.observation_date
                td=item.death_status
                td=item.processed
                td=item.date_processed
